<!-- Beginning of Buy With Prime Cart -->
<script async fetchpriority='high' src='https://code.buywithprime.amazon.com/bwp.v1.js'></script>
<div
    id="amzn-bwp-cart"
    data-site-id="ryf6p6vta5"
    data-widget-id="w-ec4V588O7j9ieShIjCfl50"
></div>
<!-- End of Buy With Prime Cart -->
{% schema %}
  {
    "name": "Single Button",
    "settings": [
  ],
    "presets": [
      {
        "name": "Prime Button"
      }
    ]
  }
{% endschema %}
