<div class="product-you-tube-video">
  {% if section.settings.productyoutubevideo != blank %}
<iframe src="{{ section.settings.productyoutubevideo }}" width="850" height="480" frameborder="0" allowfullscreen loading="lazy"></iframe>
  {% endif %}
</div>
{% schema %}
{
    "name": "Products-YouTube-Video",
    "settings": [
      {
            "type": "url",
            "id": "productyoutubevideo",
            "label": "Video URL"
        }
       
    ],
    "presets": [
        {
            "name": "Products-YouTube-Video"
        }
    ]
}
{% endschema %}
