
        <div id="tapita-blog-main-content" style="min-height: 100px; display: block">
          
          <div class="tpt-blog-article-content">
            {{ article.content }}
          </div></div>
        {%- render "tapita-blog-comment" -%}
        