<script>window._tpt_anti_helmet = true</script><script>window.__tpt_full_page = 1</script><script class='tpt_dynamic'>
function dynamicAttach(itemId, containerId, override, autoRerunMode) {
if (!window.__tpt_everlasting_cache) {
window.__tpt_everlasting_cache = {};
}
if (!window.__tpt_everlasting_tickrate) {
window.__tpt_everlasting_tickrate = {};
}
var slt = '.spb-item.type_actual_statement.spb-item-id_' + itemId;
var targetElement = document.querySelector(slt);
var containerElement = document.querySelector('.' + containerId);
console.log(targetElement, containerElement);
if (containerElement && (containerElement.innerHTML).trim().length > 0) {
 window.__tpt_everlasting_cache[slt] = containerElement.innerHTML;
}
if ((targetElement && (!targetElement.innerHTML.length || override)) && ((containerElement && (containerElement.innerHTML).trim() || window.__tpt_everlasting_cache[slt]))) {
console.log('Found container element');
console.log(itemId, containerId);
if (containerElement && (containerElement.innerHTML).trim().length > 0) {
var tpt_rerun = containerElement.querySelectorAll('script.tpt_rerun, script.tpt_inject_script');
if (containerElement.childNodes) {
Array.from(containerElement.childNodes).forEach(function(node) {
targetElement.append(node);
});
}
tpt_rerun.forEach(function(t) {
Function(t.innerText)()
});
} else if (window.__tpt_everlasting_cache[slt]) {
targetElement.innerHTML = window.__tpt_everlasting_cache[slt];
var tpt_rerun = targetElement.querySelectorAll('script.tpt_rerun, script.tpt_inject_script');
tpt_rerun.forEach(function(t) {
Function(t.innerText)()
});
} else if (targetElement && containerElement && targetElement.innerHTML.length) {
console.log('Already attached', slt);
}
} else {
if (!targetElement) {
window.__tpt_everlasting_tickrate[slt] = ( window.__tpt_everlasting_tickrate[slt] || 0 )+1;
if (window.__tpt_everlasting_tickrate[slt] < 5){
setTimeout(function () {
dynamicAttach(itemId, containerId, override, true);
}, 1000);
}
}
}
if(!autoRerunMode){
 if (!window._tapita_ssr_ijt_obj) {
window._tapita_ssr_ijt_obj = {};
}
window._tapita_ssr_ijt_obj[slt] = function() {
return dynamicAttach(itemId, containerId, override)
}; 
}
}

</script>
<script>window._issolate_tapita_hamburger = true;</script>

<style>
.type_actual_statement{width: 100%}
</style>
{% assign content = page.metafields.tapita["pgt-da8b343"] %}

<div id="tapita-page-main-content" style="min-height: 100px; display: block">
<h1 class="tapita-placeholder" style="display:none;">
"", 1
</h1>
</div>


<div class="rte">
<script>
try {
var _tpt_insigna = "a2d442803eb7e5ac265d34a5aed4b1eb";
if(!globalThis._tpt_pbds){
globalThis._tpt_pbds = [];
}
}catch(e){
console.warn(e);
}
var tapitacss = `#shopify-section-tapita-main-page, #shopify-section-tapita-main-home { min-height: 100vh; } .main.content { max-width: unset; } .spb-item-root {width: 100%;} h1.main-page-title.page-title {display: none;} .spb-item.type_text {overflow-y: hidden;} `;
var tapitahead = document.head || document.getElementsByTagName("head")[0];
var tapitastyle = document.createElement("style");

tapitastyle.type = "text/css";
if (tapitastyle.styleSheet){
tapitastyle.styleSheet.cssText = tapitacss;
} else {
tapitastyle.appendChild(document.createTextNode(tapitacss));
}
tapitastyle.class="tapita-custom-css";
 
var tapitajs = ``;
var tapitascript = document.createElement("script");
tapitascript.appendChild(document.createTextNode(tapitajs));
tapitascript.defer = true;
tapitascript.class="tapita-custom-css";

tapitahead.appendChild(tapitastyle);
tapitahead.appendChild(tapitascript);
{% if request.page_type == "product" %}
var kulasop= 9;
{% endif %}
</script>

{{ 'tapita-cdn-assets-1.6.39.js' | asset_url | script_tag }}
 
<script defer>
var tapita_counter = 0;
var possibleMainTargetQuery = [

"#tapita-page-main-content",
".normal_main_content",
"#MainContent",
"shopify-section-tapita-main-page",
"shopify-section-tapita-main-home",
"main",
];
{% if request.page_type == "product" %}
var kulasop= 2;
{% endif %}

var currentMain = null;
for (const selector of possibleMainTargetQuery) {
currentMain = document.querySelector(selector);
if(currentMain){
break;
}
}
var injector = setInterval(function () {
var idToRender = false;
var mainTarget = null;
for (const selector of possibleMainTargetQuery) {
mainTarget = document.querySelector(selector);
if(mainTarget){
break;
}
}
if(currentMain && currentMain.id !=="MainContent"){
currentMain.id = "MainContentTapita";
idToRender = "MainContentTapita";
} else {
idToRender = "MainContent";
}

if (!idToRender)
return;
{% if request.page_type == "product" %}
var licobioga= 97;
{% endif %}
tapita_counter += 1;
if (globalThis.PageBuilderComponent) {
var tapitaSections = document.querySelectorAll(".tapitaSection, .spb-customerhtml-serverrender");
currentMain = null;
function tptPBD(forcedRerender){
var lemonadeConsumer = document.querySelector(`#${idToRender} .smpb-container`);
if(lemonadeConsumer && lemonadeConsumer.innerHTML&& !forcedRerender){
return;
}
PageBuilderComponent.renderForIdWithProps(idToRender, {
endPoint: "https://d3lks6njuyuuik.cloudfront.net/pb/graphql/",
mode: "shopify",
lazyloadPlaceHolder: "",
formatMessage: globalThis._rms_translate,
_translateParagraph: true,
_translateSEO: true,
_translatePlaceholder: true,
callback: function() { try { if (globalThis.PageBuilderComponent && globalThis._tpt_pbds && (globalThis._tpt_pbds instanceof Array)) globalThis._tpt_pbds.forEach(t => t && t()); } catch (e) { } },
pageData: {"url_path":"\/discount","original_url_path":"\/discount","type_id":0,"priority":10,"entity_id":39133,"name":"Discount","status":1,"masked_id":"3630YzpfrFdwmnLXHXrngpPW1731925047","custom_css":"#pbitm-id-49.hvr-sweep-to-right:before{\r\n background: #7e878b26 !important;\r\n}\r\n#pbitm-id-50.hvr-sweep-to-left:before{\r\n background: #7e878b26 !important;\r\n}\r\n#pbitm-id-66.hvr-rectangle-out:before{\r\n background: #7e878b26 !important;\r\n}\r\n#pbitm-id-74.hvr-rectangle-out:before{\r\n background: #7e878b26 !important;\r\n}\r\n#pbitm-id-72.hvr-rectangle-out:before{\r\n background: #7e878b26 !important;\r\n}\r\n#pbitm-id-70.hvr-rectangle-out:before{\r\n background: #7e878b26 !important;\r\n}","custom_js":" var link_hover = document.createElement('link');link_hover.rel = 'stylesheet';link_hover.href = 'https:\/\/tapita.io\/pb\/pub\/media\/hover.css';document.head.appendChild(link_hover);","keywords":null,"title":"New Page","desc":"New Page","is_rtl":0,"storeview_visibility":"","publish_items":"[{\"entity_id\":123,\"page_id\":\"39133\",\"status\":1,\"styles\":\"{\\\"flexDirection\\\":\\\"column\\\",\\\"widthPercent\\\":100,\\\"maxWidth\\\":\\\"1280px\\\",\\\"marginLeft\\\":\\\"auto\\\",\\\"marginRight\\\":\\\"auto\\\"}\",\"data\":\"{}\",\"name\":\"\",\"tag_id\":\"pbi_WWxMOGYxNzI0NzUyNTEyNTQ4_12548\",\"class_name\":\"\",\"type\":\"image\",\"visibility\":\"\",\"sort_order\":20,\"parent_id\":36,\"storeview_visibility\":0},{\"entity_id\":12,\"page_id\":\"39133\",\"status\":1,\"styles\":\"{\\\"widthPercent\\\":100,\\\"fontFamily\\\":\\\"Georgia\\\",\\\"maxWidth\\\":\\\"1280px\\\",\\\"marginLeft\\\":\\\"auto\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"textAlign\\\":\\\"center\\\",\\\"fontWeight\\\":700,\\\"m_paddingLeft\\\":0,\\\"m_paddingRight\\\":0,\\\"m_fontSize\\\":\\\"20px\\\",\\\"fontSize\\\":\\\"50px\\\"}\",\"data\":\"{\\\"textTag\\\":\\\"h1\\\"}\",\"name\":\"Buy More - Save More!\",\"tag_id\":\"pbi_cE1ubUMxNjc2MzY0OTI1NDcz_25473\",\"class_name\":\"\",\"type\":\"text\",\"visibility\":\"\",\"sort_order\":30,\"parent_id\":36,\"storeview_visibility\":0},{\"entity_id\":36,\"page_id\":\"39133\",\"status\":1,\"styles\":\"{\\\"display\\\":\\\"block\\\",\\\"flexDirection\\\":\\\"row\\\",\\\"widthPercent\\\":100,\\\"flexShrink\\\":1,\\\"paddingTop\\\":25,\\\"paddingBottom\\\":25,\\\"paddingLeft\\\":\\\"15px\\\",\\\"paddingRight\\\":\\\"15px\\\",\\\"minHeight\\\":100,\\\"justifyContent\\\":\\\"center\\\",\\\"backgroundColor\\\":\\\"#f4f4f4\\\",\\\"m_paddingLeft\\\":20,\\\"m_paddingRight\\\":20,\\\"marginTop\\\":20,\\\"borderTopWidth\\\":\\\"1px\\\",\\\"borderRightWidth\\\":\\\"1px\\\",\\\"borderBottomWidth\\\":\\\"1px\\\",\\\"borderLeftWidth\\\":\\\"1px\\\"}\",\"data\":\"{}\",\"name\":\"\",\"tag_id\":\"pbi_ZWN1ZGIxNjc2MzY0ODkzMDM0_93034\",\"class_name\":\"\",\"type\":\"container\",\"visibility\":\"\",\"sort_order\":40,\"parent_id\":0,\"storeview_visibility\":0},{\"entity_id\":38,\"page_id\":\"39133\",\"status\":1,\"styles\":\"{\\\"flexDirection\\\":\\\"column\\\",\\\"widthPercent\\\":100,\\\"maxWidth\\\":\\\"1280px\\\",\\\"marginLeft\\\":\\\"auto\\\",\\\"marginRight\\\":\\\"auto\\\"}\",\"data\":\"{\\\"openUrl\\\":\\\"https:\\\\\\\/\\\\\\\/www.wavesrx.com\\\\\\\/collections\\\",\\\"openUrlInNewTab\\\":1,\\\"image\\\":\\\"https:\\\\\\\/\\\\\\\/cdn.shopify.com\\\\\\\/s\\\\\\\/files\\\\\\\/1\\\\\\\/0269\\\\\\\/9198\\\\\\\/4729\\\\\\\/t\\\\\\\/25\\\\\\\/assets\\\\\\\/1737106896imgpshfullsizeanim-51.jpeg?v=1737106898\\\"}\",\"name\":\"\",\"tag_id\":\"pbi_YzliOXYxNjc2MzY0OTkyMjQy_92242\",\"class_name\":\"\",\"type\":\"image\",\"visibility\":\"\",\"sort_order\":60,\"parent_id\":36,\"storeview_visibility\":0},{\"entity_id\":39,\"page_id\":\"39133\",\"status\":1,\"styles\":\"{\\\"widthPercent\\\":100,\\\"fontFamily\\\":\\\"Arial\\\",\\\"maxWidth\\\":\\\"1280px\\\",\\\"marginLeft\\\":\\\"auto\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"paddingTop\\\":0,\\\"color\\\":\\\"#0f0f10\\\",\\\"m_paddingLeft\\\":0,\\\"m_paddingRight\\\":0,\\\"paddingLeft\\\":15}\",\"data\":\"{\\\"paragraphContent\\\":\\\"<p>&nbsp;<br><strong>Get ready for an unforgettable 2025 boating season!<\\\\\\\/strong><\\\\\\\/p>\\\\n<p><\\\\\\\/p>\\\\n<p>Start your adventures early with WavesRx! For a limited time, enjoy 15% off all boating and jet ski products and stock up on the premium gear you need to make every moment on the water smoother, safer, and more enjoyable.<\\\\\\\/p>\\\\n<p><\\\\\\\/p>\\\\n<p>\\\\ud83d\\\\udca5 Exclusive Pre-Season Offer: <strong>Save 15% on orders over $100!<\\\\\\\/strong><\\\\\\\/p>\\\\n<p><\\\\\\\/p>\\\\n<p><br><\\\\\\\/p>\\\\n<p><\\\\\\\/p>\\\\n<p>Add items totaling $100 or more to your cart. <strong>Your 15% discount will be applied automatically at checkout<\\\\\\\/strong>\\\\u2014no code required!<\\\\\\\/p>\\\\n<p><br>Don\\\\u2019t wait\\\\u2014shop now and grab this Early Bird Special before the waves start calling! \\\\ud83c\\\\udf0a\\\\u2728<br><\\\\\\\/p>\\\\n<p><br>The WavesRx Team<\\\\\\\/p>\\\\n\\\"}\",\"name\":\"\",\"tag_id\":\"pbi_ZUp0OFkxNjc2MzY1OTAyOTc1_02975\",\"class_name\":\"\",\"type\":\"paragraph\",\"visibility\":\"\",\"sort_order\":70,\"parent_id\":36,\"storeview_visibility\":0},{\"entity_id\":121,\"page_id\":\"39133\",\"status\":1,\"styles\":\"{\\\"flexDirection\\\":\\\"row\\\",\\\"backgroundColor\\\":\\\"#daae0d\\\",\\\"color\\\":\\\"#edf2f5\\\",\\\"border\\\":\\\"none\\\",\\\"borderRadius\\\":8,\\\"paddingTop\\\":15,\\\"paddingBottom\\\":15,\\\"paddingLeft\\\":25,\\\"paddingRight\\\":25,\\\"textAlign\\\":\\\"center\\\",\\\"marginTop\\\":10,\\\"marginBottom\\\":\\\"15px\\\",\\\"marginLeft\\\":\\\"auto\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"cursor\\\":\\\"pointer\\\",\\\"display\\\":\\\"flex\\\",\\\"alignItems\\\":\\\"center\\\",\\\"justifyContent\\\":\\\"center\\\",\\\"fontFamily\\\":\\\"inherit\\\",\\\"maxWidth\\\":\\\"1280px\\\",\\\"fontWeight\\\":700,\\\"textShadow\\\":\\\"0px 0px 0px \\\",\\\"textShadowHorizontal\\\":0,\\\"fontSize\\\":\\\"17px\\\",\\\"letterSpacing\\\":\\\"5px\\\"}\",\"data\":\"{\\\"icon_position\\\":\\\"left\\\",\\\"openUrl\\\":\\\"https:\\\\\\\/\\\\\\\/www.wavesrx.com\\\\\\\/collections\\\",\\\"openUrlInNewTab\\\":1,\\\"openUrlSEOTitle\\\":\\\"\\\"}\",\"name\":\"ORDER NOW\",\"tag_id\":\"pbi_TlM5YTAxNzI0NzQyOTYwMDcz_60073\",\"class_name\":\"\",\"type\":\"button\",\"visibility\":\"\",\"sort_order\":80,\"parent_id\":36,\"storeview_visibility\":0}]","updated_at":"2025-01-17 11:16:21","image":"https:\/\/tapita.io\/pb\/pub\/media\/spb\/usr\/1\/19353\/PBPAGEIMAGE.png"}
});
}
globalThis._tpt_pbds.push(tptPBD);
tptPBD();

function _tapita_ssr_cti(){window._tapita_ssr_ijt_obj && Object.values(window._tapita_ssr_ijt_obj||{}).forEach(function (t){t&&t()})};
_tapita_ssr_cti();
if(!globalThis._tpt_pbds){globalThis._tpt_pbds=[]};
globalThis._tpt_pbds.push(_tapita_ssr_cti);
window.addEventListener("resize", ()=>{_tapita_ssr_cti()});
;
var documentFragment = document.createDocumentFragment();
tapitaSections.forEach(function(el){documentFragment.appendChild(el)});
document.querySelector("#" + idToRender).appendChild(documentFragment);
tapitaSections = null;
clearInterval(injector);
if (window.location && window.location.hash) {
var tptHashFound = window.location.hash;
tptHashFound = hash.replace("#", "");
tptHashFound = document.getElementById(tptHashFound);
if (tptHashFound) {
tptHashFound.scrollIntoView();
}
}
} else if (tapita_counter > 60) {
clearInterval(injector);
}
}, 100);
</script>
</div>

<div class="tel">
{% for field in content.value %}
{% if field.type == "product_grid" %}
{% render 'tapita-product-grid',
product_target_ident: field.settings.product_target_ident,
product_handle: field.settings.product-handle,
product_handles: field.settings.product-handles,
product_ident: field.settings.product_ident,
product_title: field.settings.product-title,
product_limit: field.settings.product-limit,
evenlyHeight: field.settings.evenlyHeight
%}
{% elsif field.type == "product_scroll" %}
{% render 'tapita-product-list',
product_target_ident: field.settings.product_target_ident,
product_handle: field.settings.product-handle,
product_handles: field.settings.product-handles,
product_ident: field.settings.product_ident,
product_title: field.settings.product-title,
product_limit: field.settings.product-limit,
%}
{% endif %}
{% endfor %}
</div>
